{% extends 'base.html' %}

{% block head %}

<title>Speech to subtitle</title>

{% endblock %}

{% block body %}
    <h1>Speech to Subtitles</h1>
    <button id ="recordButton">Start record</button>
    <button id ="stopButton" disabled>Stop Record</button>
    <div id="transcription"></div>

    <script>
        let mediaRecorder;
        let isRecording = false;

        document.getElementById('recordButton').addEventListener('click', async () => {
            const stream = await navigator.mediaDevices.getUserMedia({ audio: true });
            mediaRecorder = new MediaRecorder(stream);
            mediaRecorder.start(1000); // Create a new audio chunk every second

            fetch('/start', { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    console.log(data.status);
                    isRecording = true;
                    document.getElementById('recordButton').disabled = true;
                    document.getElementById('stopButton').disabled = false;
                });

            mediaRecorder.addEventListener('dataavailable', event => {
                if (isRecording) {
                    const audioBlob = new Blob([event.data], { type: 'audio/wav' });
                    if (audioBlob.size > 0) {
                        const formData = new FormData();
                        formData.append('audio', audioBlob);

                        fetch('/transcribe', {
                            method: 'POST',
                            body: formData
                        })
                        .then(response => response.json())
                        .then(result => {
                            if (result.transcription) {
                                const transcriptionDiv = document.getElementById('transcription');
                                transcriptionDiv.innerText += '\n' + result.transcription;
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                    } else {
                        console.warn('Received empty audio chunk');
                    }
                }
            });
        });

        document.getElementById('stopButton').addEventListener('click', () => {
            fetch('/stop', { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    console.log(data.status);
                    isRecording = false;
                    mediaRecorder.stop();
                    document.getElementById('recordButton').disabled = false;
                    document.getElementById('stopButton').disabled = true;
                });
        });
    </script>
{% endblock %}
