{% extends 'base.html' %}

{% block head %}

<title>Speech to subtitle</title>

{% endblock %}

{% block body %}
    <h1>Speech to Subtitles</h1>
    <button id ="recordButton">Start record</button>
    <button id ="stopButton" disabled>Stop Record</button>
    <div id="transcription"></div>
    <script>
        let mediaRecorder;
        let audioChunks=[];
        let isRecording = false;

        //Writing a js function on the event of click so that i will send audio data every second

        document.getElementById('recordButton').addEventListener('click', async()=>{
            const stream = await navigator.mediaDevices.getUserMedia({ audio: true});
            mediaRecorder = new MediaRecorder(stream);
            mediaRecorder.start(1000);

            mediaRecorder.addEventListener('dataavailable', event => {
                if (isRecording){
                    audioChunks.push(event.data);
                    const audioBlob = new Blob([event.data], { type: 'audio/wav'});
                    const formData = new FormData();
                    formData.append('audio', audioBlob);

                    fetch('/transcribe',{
                        method: 'POST',
                        body: formData
                    })
                    .then(response => response.json())
                    .then(result => {
                        console.log(result);
                        const transcriptionDiv = document.getElementById('transcription');
                        transcriptionDiv.innerText += '\n' + result.transcription; //append new transcription
                    });
                }
            });

            isRecording = true;
            document.getElementById('recordButton').disabeled = true;
            document.getElementById('stopButton').disabled = false;
        });    

        document.getElementById('stopButton').addEventListener('click', () => {
            isRecording = false;
            mediaRecorder.stop();
            document.getElementById('recordButton').disabeled = false;
            document.getElementById('stopButton').disabled = true;
        });
    </script>
{% endblock %}